---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
    <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
            <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight min-w-72">About Decoded Papers</p>
            </div>
            <p class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4">
            Decoded Papers is a blog dedicated to demystifying the complexities of AI. Our mission is to provide clear, concise, and insightful explanations of AI strategies,
            models, and techniques. We aim to make AI accessible to a broader audience, from students and researchers to industry professionals and enthusiasts.
            </p>
            <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Our Team</h3>
            <p class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4">
            The blog is maintained by a team of AI researchers and engineers with a passion for knowledge sharing. Our team members have extensive experience in various areas of
            AI, including machine learning, natural language processing, and computer vision. We are committed to providing high-quality content that is both informative and
            engaging.
            </p>
            <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Contact Us</h3>
            <p class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4">
            For inquiries, feedback, or collaboration opportunities, please reach out to us at contact@decodedpapers.com. We welcome your input and are always eager to connect
            with fellow AI enthusiasts.
            </p>
        </div>
    </div>
</Layout>