---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

import * as AboutMe from './about-me.md'
import Prose from '../components/Prose.astro';
import {Content } from './about-me.md'
---
<Layout>
    <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
                <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight min-w-72">{AboutMe.frontmatter.title}</p>
            </div>

            <Prose>

                <Content />
            </Prose>

        </div>
  
    </div>
</Layout>