---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import Latest from '../components/Latest.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
	 <div class="px-40 flex flex-1 justify-center py-5">
		<div class="layout-content-container flex flex-col max-w-[960px] flex-1">
			<h1 class="text-[#111418] tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6">Decoded Papers</h1>
			<p class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">A personal devlog exploring AI strategies, models, and techniques for extracting meaningful insights from scientific literature.</p>
			<div class="flex px-4 py-3 justify-center">
			</div>
		<Latest/>
		</div>
	</div>

</Layout>