---
interface Props {
    toc: string[]
    title: string
}
import createSlug from "../lib/createSlug"
const { toc,title } = Astro.props

---


<div class="layout-content-container flex flex-col w-[360px] sticky top-24">
    {
    toc.map(item =>(
        <div class="flex items-center gap-4 bg-white px-4 min-h-14">
            <p class="text-[#111418] text-base font-normal leading-normal flex-1 truncate">
                <a href={`/blog/${createSlug(title)}#${createSlug(item)}`} class="hover:underline">{item}</a>
            </p>
        </div>
    ))
    }
</div>