---
---
<div
  class="prose dark:prose-invert
  prose-h3:text-[#111418] 
  prose-h3:text-lg
  prose-h3:leading-tight 
  prose-h3:tracking-[-0.015em] 

  prose-h3:
  prose-h3:pb-2 
  prose-3:pt-1
  prose-p:text-[#949495] 
  prose-p:text-base 
  prose-p:font-normal 
  prose-p:leading-normal 
  prose-p:pb-3 
  prose-p:pt-1 
  prose-p:px-4
  prose-pre:text-xs
  ">
  <slot />
</div>